@using PagedList.Core
@model Empyreal.ViewModels.Manager.ProductManagerViewModel;
@{
    ViewData["Title"] = "Quản lý sản phẩm";
    Layout = "_ManageLayout";
}

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a asp-controller="Dashboard" asp-action="Index">Admin</a></li>
    <li class="active">Quản lý sản phẩm</li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap horizontal-padding">
    <!-- START TABLE -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title-box">
                <h3 style="font-size: 17px;">Danh sách sản phẩm</h3>
                @*<span>Xem lịch sử</span>*@
            </div>
            <ul class="panel-controls" style="margin-top: 2px;">
                <li><a href="#" class="panel-fullscreen"><span class="fas fa-expand"></span></a></li>
                <li><a href="#" class="panel-refresh"><span class="fas fa-sync-alt"></span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fas fa-cog"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="panel-collapse"><span class="fas fa-angle-up"></span> Collapse</a></li>
                        <li><a href="#" class="panel-remove"><span class="fas fa-times"></span> Remove</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="panel-body panel-body-table">
            <div class="row table-header-action">
                <div class="col-sm-6">
                    <form id="selectByCatalogForm" method="get" asp-controller="Product" asp-action="ProductManager">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="Keyword" asp-route-keySearch="@Model.Keyword" value="@Model.Keyword" name="keySearch" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" title="Tìm kiếm" type="submit"><i class="fas fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="header-search">
                                <select class="form-control select" data-live-search="true" name="catalogSelect" asp-for="Catalog" asp-items="Model.CbbCatalog"></select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 text-right">
                    <a class="btn btn-info" asp-controller="Product" asp-action="ProductUpdate" asp-route-isUpdate="false"><i class="fas fa-plus"></i> Thêm mới sản phẩm</a>
                </div>
            </div>

            @if (Model.PagedProductModel != null)
            {
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                @*<th width="50%">Project</th>
                            <th width="20%">Status</th>
                            <th width="30%">Activity</th>*@
                                <th>STT</th>
                                <th>Id</th>
                                <th>Tên sản phẩm</th>
                                <th>Người đăng</th>
                                <th>Trạng thái</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        @{ int k = 1;
                            <tbody>
                                @foreach (var product in Model.PagedProductModel)
                                {
                                    <tr>
                                        <td>@k </td>
                                        <td>@product.Id</td>
                                        <td>@product.Name</td>
                                        <td>@product.UserName</td>
                                        <td>
                                            @{
                                                switch (product.State)
                                                {
                                                    case 0:
                                                        <span class="label label-danger">Ngưng bán</span>
                                                        break;
                                                    case 1:
                                                        <span class="label label-success">Đang bán</span>
                                                        break;
                                                    case 2:
                                                        <span class="label label-warning">Tạm hết hàng</span>
                                                        break;
                                                    default:
                                                        <span class="label label-success">Đang bán</span>
                                                        break;
                                                }
                                            }
                                        </td>
                                        <td>
                                            <a class="control-info table-controls" title="Chỉnh sửa sản phẩm" asp-controller="Product" asp-action="ProductUpdate" asp-route-productID="@product.Id" asp-route-isUpdate="true"><span class="fas fa-pencil-alt"></span></a>
                                            <a class="control-danger table-controls" title="Xóa sản phẩm" asp-controller="Product" asp-action="ProductDelete" asp-route-productID="@product.Id" asp-route-keySearch="@Model.Keyword" asp-route-selectCatalog="@Model.Catalog"><span class="far fa-trash-alt"></span></a>
                                        </td>
                                    </tr>
                                    k++;
                                }

                                <tr>
                                    <td colspan="4">
                                        <pager list="@Model.PagedProductModel"
                                               asp-controller="Product"
                                               asp-action="ProductManager"
                                               asp-route-keySearch="@Model.Keyword"
                                               asp-route-selectByCatalog="@Model.Catalog" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-default" id="historyPopup" style="margin: 14px 0;">Lịch sử</button>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            }
        </div>
    </div>
    <!-- END TABLE -->

    <!-- Modal -->
    <div class="modal fade" id="historyModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Lịch sử</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END PAGE CONTENT WRAPPER -->

@section Scripts {
    <script type="text/javascript" src="~/js/Manager/ProductManager.js"></script>
    <script type="text/javascript" src="~/js/Plugins/bootstrap/bootstrap-select.js"></script>
}