@using Empyreal.ViewModels.Display;

@model IEnumerable<ProductBasicViewModel>


<div class="row">
    <!-- section-title -->
    <div class="col-md-12">
        <div class="section-title">
            <h3 class="title">SẢN PHẨM MỚI  </h3>
            <div class="pull-right">
                <div class="product-slick-dots-2 custom-dots"></div>
            </div>
        </div>
    </div>
    <!-- /section-title -->
    <!-- banner -->

    <div class="col-md-3 col-sm-6 col-xs-6">
        @*<div class="banner banner-2">
                <img src="~/images/banner14.jpg" alt="">
                <div class="banner-caption">
                    <h2 class="white-color">NEW<br>COLLECTION</h2>
                    <button class="primary-btn">Shop Now</button>
                </div>
            </div>*@

        @{
            var productHOT = Model.Last();
        }

        <div class="product product-single product-hot" title="@productHOT.Name">
            <div class="product-thumb">
                <div class="product-label">
                    <span class="sale">HOT</span>
                </div>
                @*<ul class="product-countdown">
                            <li><span>00 H</span></li>
                            <li><span>00 M</span></li>
                            <li><span>00 S</span></li>
                    </ul>*@
                <a asp-controller="Home" asp-action="Products" asp-route-id="@productHOT.Id" class="main-btn quick-view"><i class="fa fa-search-plus"></i> Xem chi tiết</a>
                <img src="@productHOT.Images[0].Url" alt="">
            </div>
            <div class="product-body">
                <h2 class="product-name"><a asp-controller="Home" asp-action="Products" asp-route-id="@productHOT.Id">@productHOT.Name</a></h2>
                <div class="product-rating">
                    <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </p>
                    <p class="review">(36 nhận xét)</p>
                </div>
                <h4 class="product-price">@productHOT.PriceProductText<del class="product-old-price">@productHOT.OldPriceProductText</del></h4>
                @*<div class="product-btns">
                        <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                        <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                        <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</button>
                    </div>*@
            </div>
        </div>
    </div>
    <!-- /banner -->
    <!-- Product Slick -->
    <div class="col-md-9 col-sm-6 col-xs-6">
        <div class="row">
            <div id="product-slick-2" class="product-slick">
                @foreach (var product in Model)
                {
                    <!-- Product Single -->
                    <div class="product product-single" title="@product.Name">
                        <div class="product-thumb">
                            <div class="product-label">
                                <span>New</span>
                                @*<span class="sale">-20%</span>*@
                            </div>
                            @*<ul class="product-countdown">
                                    <li><span>00 H</span></li>
                                    <li><span>00 M</span></li>
                                    <li><span>00 S</span></li>
                                </ul>*@
                            <a asp-controller="Home" asp-action="Products" asp-route-id="@product.Id" class="main-btn quick-view"><i class="fa fa-search-plus"></i> Xem chi tiết</a>
                            <img src="@product.Images[0].Url" alt="">
                        </div>
                        <div class="product-body">
                            <h2 class="product-name"><a asp-controller="Home" asp-action="Products" asp-route-id="@product.Id">@product.Name</a></h2>
                            <div class="product-rating">
                                <p class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </p>
                                <p class="review">(36 nhận xét)</p>
                            </div>
                            <h4 class="product-price">@product.PriceProductText</h4>
                            @*<div class="product-btns">
                                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</button>
                                </div>*@
                        </div>
                    </div>
                    <!-- /Product Single -->
                }
            </div>
            <!-- /Product Single -->
        </div>
    </div>
</div>

<!-- jQuery Plugins -->


