<table class="table table-bordered table-hover">
    <thead class="active">
        <tr>
            <th style="width: 50px; text-align: center;">STT</th>
            <th style="display: none;">Id</th>
            <th>Tên sản phẩm</th>
            <th>Người đăng</th>
            <th>Chỉnh sửa</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    @{ int k = 1;
        <tbody>
            @*@foreach (var product in Model.PagedProductModel)
            {*@
            <tr>
                <td style="text-align: center;">@k </td>
                @*<td style="display: none;">@product.Id</td>
        <td>@product.Name</td>
        <td>@product.UserName</td>
        <td style="text-align: center; width: 145px;">
            <a class="main-btn" title="Chỉnh sửa sản phẩm" asp-controller="Product" asp-action="ProductUpdate" asp-route-productID="@product.Id" asp-route-isUpdate="true"><i class="far fa-edit"></i> Chỉnh sửa</a>
        </td>
        <td style="text-align: center; width: 145px;">
            <a class="main-btn" title="Xóa sản phẩm" asp-controller="Product" asp-action="DeleteProduct" asp-route-productID="@product.Id"><i class="far fa-trash-alt"></i> Xóa</a>
        </td>*@

                <td style="display: none;">1</td>
                <td><p>qweqwe</p><p>qweqwe</p></td>
                <td>Hi</td>
                <td style="text-align: center; width: 145px;">
                    <a class="main-btn" title="Chỉnh sửa sản phẩm" asp-controller="Product" asp-action="ProductUpdate" asp-route-isUpdate="true"><i class="far fa-edit"></i> Chỉnh sửa</a>
                </td>
                <td style="text-align: center; width: 145px;">
                    <a class="main-btn" title="Xóa sản phẩm" asp-controller="Product" asp-action="DeleteProduct"><i class="far fa-trash-alt"></i> Xóa</a>
                </td>
            </tr>
                @*k++;*@
            @*}*@

            @*<tr>
                <td colspan="10">
                    <pager list="@Model.PagedProductModel"
                           asp-controller="Product"
                           asp-action="ProductManager"
                           asp-route-keySearch="@Model.Keyword"
                           asp-route-selectByCatalog="@Model.Catalog" />
                </td>
            </tr>*@
        </tbody>
    }
</table>